<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <div class="container">
        <h2 class="title">Update Profile</h2>

        <div id="profile-form" class="form">
            <form hx-post="/profile" hx-target="#profile-form" hx-swap="outerHTML">
                <label for="username">Username:</label>
                <input id="username" name="username" value="{{ .Username }}" required>

                <label for="email">Email:</label>
                <input id="email" name="email" type="email" value="{{ .Email }}" required>

                <label for="password">New Password (optional):</label>
                <input id="password" name="password" type="password" placeholder="New Password">

                <button type="submit" class="btn">Save Changes</button>
            </form>
        </div>

        <div class="nav-links">
            <a href="/books" class="btn link"><- Back to All Books</a>
        </div>
    </div>
</body>
</html>